# Dependencies
node_modules/
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Build files
/.next/
/out/
/build/
/dist/

# Large binary files
*.node
*.so
*.dll
*.dylib

# Misc
.DS_Store
*.pem
.env*
!.env.example
